html, body {
	    margin: 0px;
		     padding: 0px;
			      font-family: 'Oswald', sans-serif;
}


/*TOOLBAR ************************************************/
#toolbar ul {
   z-index: 2;
	   position: relative;
		   list-style: none;
			   height: auto;
				   background-color: transparent;
					   text-align: left;
						   margin: 0px;
							   padding: 0px;
}

#toolbar button {
   text-decoration: underline;
	   text-align: center;
		   cursor: pointer;
			   font-family: 'Oswald', sans-serif;
				   font-size: 1.5em;
					   color: white;
						   text-shadow: 5px 0px 5px #000;
							   height: 2.5em;
								   border: solid;
									   border-radius: 10%;
										   border-color: transparent;
											   -webkit-transition: border 500ms ease-out;
												   -moz-transition: border 500ms ease-out;
													   -o-transition: border 500ms ease-out;
														   transition: border 500ms ease-out;
															   background-color: transparent;
}

#toolbar button:hover {
   border-color: #FFF;
}

/*FRONT **************************************************/
#front_page {
   padding: 0px;
	   margin: 0px;
		   position: relative;
			   background: url("file:///Users/sammckee/Desktop/DSC_0038%20(1).jpg") no-repeat top center fixed;
				   background-size: cover;
					   height: 100vh;
						   width: 100%;
							   overflow: hidden;
}

#front_page h1 {
   color: white;
	   text-align: center;
		   padding-top: 30vh;
			   font-size: 100px;
}

#front_page a {
   text-decoration: none;
}

#down_arrow {
   position: relative;
	   transform: rotate(180deg);
		   z-index: 2;
			   font-family: Verdana;
				   color: white;
					   text-align: center;
						   font-size: 1.5em;
							   margin-top: 15%;
								   transition: font-size .2s ease-out;
}

#down_arrow:hover {
   font-size: 1.7em;
}

/* INTRODUCTION ********************************************/
#intro {
   text-align: center;
	   font-family: 'Oswald', sans-serif;
		   padding-bottom: 0px;
			   margin: 0px;
}

#intro h2 {
   padding-top: .5em;
	   font-family: 'Oswald', sans-serif;
		   font-size: 3em;
			   margin: 0px;
				   padding-bottom: .2em;
}

#intro p {
   font-family: 'Oswald', sans-serif;
	   font-size: 1em;
		   font-weight: bold;
			   padding-top: 0px;
				   margin: 0px;
					   padding-right: 15%;
						   padding-left: 15%;
}

#intro ul {
   font-family: 'Oswald', sans-serif;
	   font-size: 1em;
		   padding-top: 0px;
			   padding-right: 15%;
				   padding-left: 15%;
					   padding-bottom: 3.0em;
						   list-style: none;
}

#intro ul li {
   padding-bottom: .15em;
}

/* RESUME ****************************************************/
#resume {
   width: 100%;
	   padding: 0px;
		   margin: 0px;
			   height: 340px;
				   background: url("file:///Users/sammckee/Desktop/DSC_0083%20(3).jpg") no-repeat top center fixed;
					   background-size: cover;
						   position: relative;
							   text-align: center;
}

#resume h3 {
   font-family: 'Oswald', sans-serif;
	   padding-top: 170px;
		   position: relative;
			   text-align: center;
				   margin-top: 140px;
					   text-decoration: underline;
						   color: white;
							   font-size: 2.2em;
								   transition: font-size .2s ease-out;
}

#resume h3:hover {
   font-size: 2.3em;
}

/* FRAME *****************************************************/
#frames {
   padding: 0px;
	   margin: 0px;
		   text-align: center;
			   overflow: hidden;
}
#frames #project_intro {
   margin-top: 1.5em;
	   padding-top: .5em;
		   position: relative;
			   font-family: verdana, arial;
				   font-size: 1.2em;
					   text-align: center;
						   padding-bottom: 2em;
}

#row {
   padding: .15em;
	   margin: 0px;
}

.frame {
	   font-family: 'Oswald', sans-serif;
		   position: relative;
			   margin: 0px;
				   width: 25%;
					   padding-top: 2.5em;
						   padding-bottom: 2.5em;
							   height: auto;
								   display: inline-block;
									   background-size: cover;
										   text-align: center;
											   color: #FFF;
												   font-size: 2em;
													   opacity: .7;
														   transition: .1s opacity ease-out;
}

#one_one {
   background: url("file:///Users/sammckee/Desktop/DSC_0042.jpg") no-repeat;
	   background-size: cover;
}
#one_two {
   background: url("file:///Users/sammckee/Desktop/DSC_0035.jpg") no-repeat;
	   background-size: cover;
}
#one_three {
   background: url("file:///Users/sammckee/Desktop/Copy%20of%20DSC_0010.jpg") no-repeat;
	   background-size: cover;
}
#two_one {
   background: url("file:///Users/sammckee/Desktop/DSC_0054.jpg") no-repeat;
	   background-size: cover;
}
#two_two {
   background: url("file:///Users/sammckee/Desktop/DSC_0072.jpg") no-repeat;
	   background-size: cover;
}
#two_three {
   background: url("file:///Users/sammckee/Desktop/IMG_20170409_145133.jpg") no-repeat;
	   background-size: cover;
}
#three_one {
   background: url("file:///Users/sammckee/Desktop/IMG_20170409_143903.jpg") no-repeat;
	   background-size: cover;
}
#three_two {
   background: url("file:///Users/sammckee/Desktop/DSC_0047.jpg") no-repeat;
	   background-size: cover;
}
#three_three {
   background: url("file:///Users/sammckee/Desktop/IMG_20170409_143631%20(1).jpg") no-repeat;
	   background-size: cover;
}

.frame:hover {
	   opacity: 1;
}

/* VIDEO *****************************************************/
#video_background {
   margin-top: 5em;
	   background-color: #444;
		   min-height: 100vh;
			   max-height: 100vh;
}

#video_background #video_intro {
   padding-top: 3.5%;
	   padding-bottom: 3%;
		   color: #CCC;
			   font-size: 2em;
				   text-align:center;
}

#video_background #video {
   width: 60%;
	   height: 65vh;
		   display: block;
			   margin-left: auto;
				   margin-right: auto;
}

/* CONTACT INFO **********************************************/
#contact_block {
   min-height: 15vh;
	   background-color: black;
		   color: white;
}
#up_arrow {
   text-align: center;
	   color: #777;
		   padding-top: .5em;
			   z-index: 2;
				   position: absolute;
					   right: 0px;
						   left: 0px;
							   font-family: Verdana;
								   font-size: 1.5em;
									   margin: 0px;
										   transition: font-size .2s ease-out;
}
#up_arrow:hover {
   color: white;
	   font-size: 1.7em;
}

#contact_block #contacttxt {
   position: relative;
	   padding-top: 5.5vh;
		   padding-bottom: 0px;
			   margin: 0px;
				   text-align: left;
					   font-family: 'Oswald', sans-serif;
						   text-align: center;
}

#contactme {
   font-size: 2.5em;
	   padding-right: 1vw;
		   color: #777;
}


.info {
	   text-decoration: none;
		   font-family: 'Oswald', sans-serif;
			   z-index: 2;
				   position: relative;
					   list-style: none;
						   height: auto;
							   background-color: transparent;
								   margin: 0px;
									   padding: 0px;
										   font-size: 1.5em;
											   color:#777;
}

.info button {
	   border: none;
		   margin: 0px;
			   text-decoration: underline;
				   text-align: center;
					   cursor: pointer;
						   font-family: 'Oswald', sans-serif;
							   color: inherit;
								   font-size: inherit;
									   height: 2.5em;
										   transition: color 500ms ease-out;
											   background-color: transparent;
}

.info button:hover {
	   color: #FFF;
}

